@import '../../variables.scss';
@import '../../index.scss';

.rickTalksContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px 15px 25px 15px;
  width: 330px;
  height: 330px;
  background: none;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 44px 0px 0px 0px;
  border-radius: 8px;
  border: 1px solid;
  box-shadow: 0px 0px 52px 0px $main-green;

  background-image: url('./assets/rickWithBubble01.png');
  border-width: 1;
  outline: none;
}

.rickTalks {
  @include font-main(24px, $main-green);
}

.alignStart {
  text-align: start;
}

p {
  margin: 0px 0px 0px 18px;
}
