@import "../../variables.scss";
@import "../../index.scss";


.who-is-who {
  display: flex;
  flex-direction: column;
}

.character-grid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 342px;
  height: 342px;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid;

  padding: 0px;
  margin: 2px;
  width: 110px;
  height: 110px;
  background-image: url("./assets/loadingSmall.png");
  background-size: cover;
  border-radius: 8px;
}

.board__compare {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid;

  padding: 0px;
  margin: 2px;
  width: 110px;
  height: 110px;
  background-image: url("./assets/draghere.png");
  background-size: cover;
  border-radius: 8px;
}

.card {
  padding: 0px;
  margin: 0px;
  width: 110px;
  height: 110px;
}

.answer {
  display: flex;
  justify-content: center;
  width: 342px;
}
