@import "./variables.scss";

@mixin font-main($size, $color: $main-azure) {
  font-size: $size;
  font-family: "Gloria Hallelujah";
  padding: 0px;
  margin: 0px;
  color: $color;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 0px 0px 15px $main-green;
}

body {
  box-sizing: border-box ;
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle, rgba(124, 181, 49, 1) 0%, rgba(117, 172, 45, 1) 100%);
}

.font--big {
  @include font-main($font-big);
}

.font--medium {
  @include font-main($font-medium);
}

.font--small {
  @include font-main($font-small);
}

.font--small--red {
  @include font-main($font-small, $main-red);
}

.font--small--green {
  @include font-main($font-small, $main-green);
}

.button--medium {
  @include font-main($font-medium);

  background: none;
  border-width: 0;
  outline: none;
  &:hover {
    color: $main-green;
    cursor: pointer;
  }
}

.character__img {
  border-radius: 8px;
  border: 1px solid;
  box-shadow: 0px 0px 52px 0px $main-green;
  width: 330px;
  margin: 10px;
}

.character__img--small {
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 8px;
  width: 110px;
  height: 110px;
  margin: 0px;
}

.container__games{
  display: flex;
  justify-content: center;
}